extends ../../templates/default.jade

block title
    title='Scores - For the Glory! - Ludum Dare 35 "Shapeshift"'

block content
    div.jumbotron
        h1 Glorious #{name}!

        p You passed #{score}.

    h1 Challenge Everyone!

    h2
        | Share it on &nbsp;
        a(href="https://twitter.com/intent/tweet?text=#{shareMessageEncoded}&hashtags=#{shareHashtags}&url=#{shareUrlEncoded}")
            i(class="fa fa-twitter fa-8x")
            | twitter
